
/*Header*/

.navbar-brand {
  width: 15%;
  margin-left: 30px;
}

/*List containing the navigation items*/
.navbar-nav {
    position: static;
    width: 85%;
    height: 80px;
    margin-left: 100px;  
 }
 
 /*Links of the navbar*/
.nav-link {
    font-size: 1.4rem;   
}

/*Main*/
/*Section 1*/
#section-1 {
  height:680px;
}