
/*Header*/

.navbar-brand {
  width: 10%;
}

/*List containing the navigation items*/
.navbar-nav {
    position: static;
    width: 90%;
    height: 90px;
    margin: 0;
 }
 
 /*Links of the navbar*/
.nav-link {
    font-size: 1.6rem;
    margin-left: 5px;
}