/*Footer*/
/*Header*/

.navbar-brand {
  width: 10%;
}

/*List containing the navigation items*/
.navbar-nav {
    position: static;
    width: 90%;
 }

  /*Items of the navbar*/
 .nav-item {
    
 }
 /*Links of the navbar*/
.nav-link {
    font-size: 1.8rem;
    color: #b23050 !important;
    margin-top: 5px;
    font-weight: 600;
}