*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
.navbar {
    background: none;
}
.navbar-brand {
}
.navbar-brand img {
    border: none;
    width: 40%;
    height: 40%;
}
.nav-link {
    font-size: 2rem;
    color: #b23050 !important;
}
/*Button of navbar*/
.navbar-toggler {
    background: #b23050;
    border-radius: 20%;
    height: 35px;   
}
