*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/*Header*/
.navbar {
    background: none;
    margin: 20px;
}
.navbar-brand {
  width: 40%;
  margin:0;
  padding: 0;
}
.navbar-brand img {
    border: none;
}
/*Links of the navbar*/
.nav-link {
    font-size: 1.8rem;
    color: #b23050 !important;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: 600;
}
/*Button of navbar*/
.navbar-toggler {
    background: #b23050;
    border-radius: 20%;
    height: 35px;
}
/*List containing the navigation items*/
.navbar-nav {
   position: absolute;
   background-color:white;
   border-radius: 15px;
   width: 280px;
   height: 300px;
   margin-top: 20px;
   margin-left: 15px;
}
/*Main*/

/*Section 1*/
#section-1 {
    width: 100%;
    height: 600px;
    background-image: url(./Assets/fondo\ imagen\ vista\ movil.png);
    background-size: cover;
    background-repeat: no-repeat; 
    padding-top: 10px;
}
#section-1 h2 {
    color: white;
    width: 150px;
    height: 38px;
    font-size: 3rem;
    margin: 20px;
    width: bold;
}
#section-1 h1 {
    color: white;
    font-size: 4.5rem;
    width: 130px;
    height: 48px;
    margin-left: 65px;
    width: bold;
}
#section-1 p {
    width: 250px;
    height: 150px;
    font-size: 1.6rem;
    top: 40px;
    left: 65px;
    line-height: 2.5rem;
    margin-left: 65px;
    margin-top: 20px;
}

/*Section 2*/
#section-2 {
    width: 100%;
    height: 350px;
    
}
/*Container contain the ub reader*/
.ub-reader {
    width: 75%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
    left: 20px;
}
.ub-reader img {
    width: 45%;
    height: 90%;
}
.ub-reader h2 {
    width: 60%;
    height: 30%;
    font-size: 3rem;
    margin-left: 10px;
    margin-top: 20px;
    color: #89A321;
}
/*Container that contain the paragraph and download button*/
.par-button {
    width: 75%;
    height: 80%;
    position: relative;
    top: 30px;
    left: 20px;
}
.par-button p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}
/*Download button*/
.btn {
    position: relative;
    left: 50%; 
    background-color: #b23050;
    width: 140px;  
    border-radius: 10px; 
    border: none;
    font-size: 1.8rem;
}