/*Header*/

/*List containing the navigation items*/
.navbar-nav {
    left: 240px;
 }

 /*Section 1*/
#section-1 {
    height: 550px;
    background-image: url(./Assets/fondo\ imagen\ vista\ web.png);
}
#section-1 h2 {
    width: 200px;
    height: 40px;
    font-size: 4rem;
    margin: 30px;  
}
#section-1 h1 {
    color: white;
    font-size: 6rem;
    margin-left: 85px;
}
#section-1 p {
    width: 400px;
    font-size: 2.2rem;
    margin: 0;
    position: relative;
    top: 30px;
    margin-left: 20px;
    line-height: 3.2rem;
}
