/*Header*/

/*Button of navbar*/
.navbar-toggler {
    height: 45px;
    width: 40px;
}
.navbar-toggler-icon {
    font-size: 1.8rem;
}
/*List containing the navigation items*/
.navbar-nav {
    left: 240px;
    width: 300px;
    height: 370px;
 }
 /*Links of the nav bar*/
.nav-link {
    font-size: 2.2rem;  
}
 /*Section 1*/
#section-1 {
    height: 550px;
    background-image: url(./Assets/fondo\ imagen\ vista\ web.png);
}
#section-1 h2 {
    width: 200px;
    height: 40px;
    font-size: 4rem;
    margin: 30px;  
}
#section-1 h1 {
    font-size: 6rem;
    margin-left: 85px;
}
#section-1 p {
    width: 400px;
    font-size: 2.2rem;
    margin-left: 90px;
    margin-top: 40px;
    line-height: 3.2rem;
}
/*Section 2*/
#section-2 {
    height: 350px;   
}
/*Container contain the ub reader*/
.ub-reader {
    width: 75%;
    height: 20%;
    top: 35px;
    left: 35px;
    position: relative;
}
.ub-reader picture {
    width: 150px;
    height: 100px;
}
.ub-reader h2 {
    width: 60%;
    height: 30%;
    font-size: 4rem;
    margin-top: 25px;
}
/*Container that contain the paragraph and download button*/
.par-button {
    width: 85%;
    top: 80px;
    left: 35px;
}
.par-button p {
    margin-top: 35px;
    font-size: 1.6rem;
}
/*Download button*/
.btn {
    left: 70%;  
}
